<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="Classifier"
    version="0.2.11">
    <name>Classifier</name>
    <description>Classify using LIBSVM</description>
    <license>MIT</license>
    <keywords>machine learning, classifier, svm, machine, learning, support, vector, LIBSVM, </keywords>
    <repo>https://github.com/ffraaz/cordova-plugin-classifier</repo>
    <issue></issue>

    <js-module src="www/Classifier.js" name="Classifier">
        <clobbers target="Classifier" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Classifier" >
                <param name="android-package" value="Classifier"/>
            </feature>
        </config-file>
        <source-file src="src/android/Classifier.java" target-dir="src/org/apache/cordova/classifier/" />
        <source-file src="src/android/libsvm/svm.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/libsvm/svm_model.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/libsvm/svm_node.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/libsvm/svm_parameter.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/libsvm/svm_print_interface.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/libsvm/svm_problem.java" target-dir="src/org/apache/cordova/classifier/libsvm/" />
        <source-file src="src/android/svm_predict.java" target-dir="src/org/apache/cordova/classifier/" />
    </platform>

</plugin>